header {
    background-color: #4EA0FF; 
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    
}

.top {
    width: 300px;
    height: 200px;
    
}

.last-column {
    width: 60%;
}

.theader {
    background-color: #20A9E5;
}

.tbody {
    background-color: #B1E5F2;
}

h3 {
    color: grey;
}

.box-img {
    width: 300px;
    height: 200px;
    color: white; 
}

h4 {

}

#monitor {
    background-image: url(../img/monitor.jpg);
}

#graph {
    background-image: url(../img/graph.jpg);
}