header {
    background-color: #4EA0FF; 
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    
}

.top {
    width: 300px;
    height: 200px;
    
}

.last-column {
    width: 60%;
}

.theader {
    background-color: #20A9E5;
}

.tbody {
    background-color: #B1E5F2;
}